@colorOne:#f9b17a;
@colorTwo:#676f9b;
@colorThree:#424769;
.LayoutHome{
    .triggers{
        width: 64px;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 16;
    }
    .Content{
        background-color: #2d3250;
        padding: 16px;
    }
    .sider{
        height: 100vh;
    }
}