@colorOne:#f9b17a;
@colorTwo:#676f9b;
@colorThree:#424769;
.LayoutHome{
    .triggers{
        width: 64px;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 16;
    }

    .Content{
        background-color: #2d3250;
        padding: 16px;
    }
    .sider{
        height: 100vh;
    }
    .LayoutHome_OtherBanner{
        width: 180px;
        height: 64px;

    }
    .LayoutHome_Logo{
        font-size: 20px;
        color: white;
        cursor: pointer;
        margin-left: 10px;
        
    }
    .LayoutHome_MenuFoldBanner{
        height: 64px;
        line-height: 10px;
        h2{
            margin-bottom:0;
            margin-left: 10px;
        }
    }
}
