.y_LoginText {
  margin-bottom: 30px;
}
.y_LoginText h1 {
  color: white;
}
.y_LoginText h2 {
  color: white;
}
.y_LoginContent {
  width: 320px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.y_LoginInput {
  outline: none;
  border: none;
  font-size: 18px;
  color: white;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  background-color: transparent;
}
.y_LoginInputContent {
  width: 100%;
  height: 70px;
  font-size: 18px;
  color: #676f9b;
  padding-left: 7px;
  border-left: 6px solid transparent;
  background-color: #424769;
}
.y_LoginContentOnFocus {
  width: 100%;
  height: 70px;
  font-size: 18px;
  color: #676f9b;
  padding-left: 7px;
  border-left: 6px solid #f9b17a;
  background-color: #424769;
}
.y_LoginCheckBoxContent {
  width: 100%;
  height: 60px;
  font-size: 18px;
  color: #676f9b;
  padding-left: 7px;
  display: flex;
  justify-content: space-between;
}
.y_LoginCheckBoxContent .ant-checkbox-wrapper {
  color: #676f9b;
}
.y_LoginCheckBoxContent a {
  color: #676f9b;
}
.y_LoginButtonContent {
  width: 100%;
  height: 70px;
}
.y_LoginButtonContent button {
  width: 180px;
  height: 50px;
  font-size: 24px;
  color: black;
  border: none;
  background-color: #f9b17a;
  box-shadow: 0px 0px 6px #f9b17a;
}
.y_LoginOtherRelate {
  color: #676f9b;
  width: 320px;
  height: 100px;
  align-items: flex-start;
}
.y_LoginOtherRelate img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  cursor: pointer;
}
