.AddOrder {
  display: flex;
  width: 100% ;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.AddOrder-Avatar {
  width: 310px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AddOrder-Info {
  width: 650px;
}
@media screen and (max-width: 1025px) {
  .AddOrder-Info {
    width: 440px;
  }
}
@media screen and (max-width: 769px) {
  .AddOrder-Info {
    width: 400px;
  }
}
@media screen and (max-width: 480px) {
  .AddOrder-Info {
    width: 300px;
  }
}
.AddOrder-options {
  width: 100%;
}
.AddOrder-compontent {
  width: 100%;
}
.AddOrder-TextArea {
  resize: none;
  width: 100%;
  height: 200px;
}
