.OverView-Content {
  width: 100%;
  height: 100%;

  .Overview-Header {
  }
  .DataCardList {
    width: 100%;
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
  }
  .DataCard {
    margin: 5px;
    width: 285px;
    height: 180px;
    padding: 15px;
    background-color: white;
    .title {
      font-size: 22px;
      margin-bottom: 15px;
      @width: "font-size: 22px;";
      
    }
    .number {
      font-size: 35px;
      margin-bottom: 0px;
    }
    .details {
      font-size: 20px;
    }
  }
}
