.EchatsGroup {
  width: 100%;
}
.Mask::-webkit-scrollbar {
  height: 5px;
}
.Mask::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border-radius: 10px;
}
.Dashboard_BigEcharts::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border-radius: 10px;
}
.Dashboard_BigEcharts::-webkit-scrollbar {
  height: 5px;
}
@media screen and (min-width: 1023px) {
  .Mask {
    width: 100%;
    overflow: auto;
  }
  .Dashboard_FourEcharts {
    width: 1550px;
    overflow: auto;
    height: 190px;
    margin-left: 10px;
  }
  .Dashboard_FourEcharts .Dashboard_FourEcharts_Echarts {
    width: 350px;
    height: 160px;
    margin: 0 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #424769;
    display: inline-block;
  }
  .Dashboard_FourEcharts h2 {
    color: #d1d1d1;
    margin-bottom: 0%;
  }
  .Dashboard_FourEcharts h1 {
    font-size: 1.6rem;
    margin-bottom: 0%;
    color: white;
  }
  .Dashboard_FourEcharts p {
    color: #d1d1d1;
  }
  .Dashboard_FourEcharts .icon {
    color: #d1d1d1;
    font-size: 30px;
  }
  .Dashboard_BigEcharts {
    width: 1450px;
    flex-wrap: wrap;
    overflow: auto;
    display: flex;
    justify-content: center;
  }
  .Dashboard_BigEcharts .echartTypeOne {
    width: 640px;
    height: 350px;
    margin: 10px;
    background-color: #676f9b;
    flex-shrink: 0;
  }
  .Dashboard_BigEcharts .echartTypeTwo {
    margin: 10px;
    width: 800px;
    height: 350px;
    background-color: #676f9b;
    flex-shrink: 0;
  }
  .Dashboard_BigEcharts .echartTypeThree {
    margin: 10px;
    flex-shrink: 0;
    width: 460px;
    height: 350px;
    background-color: #676f9b;
  }
}
@media screen and (max-width: 769px) {
  .Dashboard_FourEcharts {
    display: flex;
    width: 1300;
    overflow: auto;
  }
  .Dashboard_FourEcharts .Dashboard_FourEcharts_Echarts {
    padding: 10px;
    border-radius: 10px;
    flex-shrink: 0;
    margin-top: 10px;
    width: 310px;
    height: 160px;
    margin: 0 10px;
    background-color: #424769;
  }
  .Dashboard_FourEcharts h2 {
    color: #d1d1d1;
    margin-bottom: 0%;
  }
  .Dashboard_FourEcharts h1 {
    font-size: 1.6rem;
    margin-bottom: 0%;
    color: white;
  }
  .Dashboard_FourEcharts p {
    color: #d1d1d1;
  }
  .Dashboard_FourEcharts .icon {
    color: #d1d1d1;
    font-size: 30px;
  }
  .Dashboard_BigEcharts {
    width: 760px;
    flex-wrap: wrap;
    overflow: auto;
    display: flex;
    justify-content: center;
  }
  .Dashboard_BigEcharts .echartTypeOne {
    width: 540px;
    height: 300px;
    margin: 10px;
    background-color: #424769;
    flex-shrink: 0;
  }
  .Dashboard_BigEcharts .echartTypeTwo {
    margin: 10px;
    width: 700px;
    height: 350px;
    background-color: #676f9b;
    flex-shrink: 0;
  }
  .Dashboard_BigEcharts .echartTypeThree {
    margin: 10px;
    flex-shrink: 0;
    width: 460px;
    height: 350px;
    background-color: #676f9b;
  }
}
@media screen and (max-width: 426px) {
  .Dashboard_FourEcharts {
    width: 1080;
    display: flex;
    overflow: auto;
  }
  .Dashboard_FourEcharts .Dashboard_FourEcharts_Echarts {
    padding: 10px;
    border-radius: 10px;
    flex-shrink: 0;
    margin-top: 10px;
    width: 310px;
    height: 160px;
    margin: 10 10px;
    background-color: #676f9b;
  }
  .Dashboard_FourEcharts h2 {
    color: #d1d1d1;
    margin-bottom: 0%;
  }
  .Dashboard_FourEcharts h1 {
    font-size: 1.6rem;
    margin-bottom: 0%;
    color: white;
  }
  .Dashboard_FourEcharts p {
    color: #d1d1d1;
  }
  .Dashboard_FourEcharts .icon {
    color: #d1d1d1;
    font-size: 30px;
  }
  .showInmobile {
    display: none;
  }
  .Dashboard_BigEcharts {
    width: 420px;
    flex-wrap: wrap;
    overflow: auto;
    display: flex;
    justify-content: center;
  }
  .Dashboard_BigEcharts .echartTypeOne {
    width: 390px;
    height: 200px;
    margin: 10px;
    background-color: #676f9b;
    flex-shrink: 0;
  }
  .Dashboard_BigEcharts .echartTypeTwo {
    margin: 10px;
    width: 400px;
    height: 300px;
    background-color: #676f9b;
    flex-shrink: 0;
  }
  .Dashboard_BigEcharts .echartTypeThree {
    margin: 10px;
    flex-shrink: 0;
    width: 400px;
    height: 300px;
    background-color: #676f9b;
  }
}
