.OrderCard{
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}
.OrderCard .OrderOptions{
    width: 100%;
    justify-content: space-around;
   
}

.OrderCardTopLine{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;

}
.OrderCardStyle{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    height: 50px;
    border-bottom: 1px solid gainsboro;
}