.CustomerCard {
  width: 270px;
  height: 340px;
  padding: 10px;
  background-color: #676f9b;
  margin-top: 10px;
}
.CustomerCard .content {
  width: 90%;
  height: 50px;
  border-bottom: 1px solid white;
  color: white;
}
.CustomerCard .content:nth-child(1) {
  width: 90%;
  height: 70px;
  border-bottom: 1px solid white;
  color: white;
}
.CustomerCard .options {
  width: 70%;
  height: 70px;
}
.CustomerCard .options .icon {
  cursor: pointer;
  font-size: 30px;
}
.CustomerCard .options .icon:nth-child(1) {
  color: #c95e7a;
}
.CustomerCard .options .icon:nth-child(2) {
  color: #fefefe;
}
.CustomerStatus {
  width: 270px;
  padding: 10px;
  background-color: #676f9b;
  margin-bottom: 20px;
  color: white;
}
.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.green {
  background-color: #33d233;
}
.red {
  background-color: #d23333;
}
.purple {
  background-color: #9f64e3;
}
@media screen and (max-width: 426px) {
  .CustomerCard {
    width: 300px;
    height: 260px;
  }
  .options {
    width: 70%;
    height: 70px;
  }
  .options .icon {
    cursor: pointer;
    font-size: 30px;
  }
  .options .icon:nth-child(1) {
    color: #c95e7a;
  }
  .options .icon:nth-child(2) {
    color: #fefefe;
  }
  .CustomerStatus {
    width: 300px;
    padding: 10px;
    background-color: #676f9b;
    margin-bottom: 20px;
  }
}
