.Account-Content{
    width: 100%;
    line-height: 0%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 5px;
}
.Account-options{
    display: flex;
    justify-content: space-around;
}