.y_Registered {
  height: 540px;
}
.y_Registered h1 {
  color: white;
}
.y_RegisteredInputContent {
  width: 320px;
  height: 60px;
  background-color: #676f9b;
  color: white;
  font-size: 18px;
  margin-top: 10px;
  padding-left: 5px;
}
.y_RegisteredInput {
  outline: none;
  border: none;
  font-size: 20px;
  color: white;
  width: 100%;
  height: 30px;
  margin-top: 5px;
  background-color: transparent;
}
.y_Passwordstrength {
  width: 320px;
  height: 40px;
  display: flex;
  align-items: center;
  color: white;
}
.y_strength {
  width: 20%;
  height: 15px;
  margin-right: 10px;
  background-color: #f9b17a;
}
.y_RegisteredButton {
  width: 180px;
  height: 50px;
  font-size: 24px;
  color: black;
  border: none;
  background-color: #f9b17a;
  box-shadow: 0px 0px 6px #f9b17a;
  margin-top: 20px;
}
